<table>
  <thead>
    <tr>
      <th>id</th>
      <th>名稱</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td>
          <%= link_to '切換身份', become_user_path(user) %>
        </td>
      <tr>
    <% end %>
  </tbody>
</table>
